---
---

@import "no-style-please";
@import "monokai";

code {
  white-space: pre-wrap;
}
header h2 a {
  text-decoration: none;
  color: black;
}
.author {
  h2,
  h3 {
    margin-top: 0;
  }
  img {
    float: left;
    width: 120px;
    margin: 0px 15px 50px 0;
  }
}
.author_details {
  img {
    width: 300px;
  }
  h2,
  h3 {
    text-align: center;
    margin-top: 0;
  }
}
