---
layout: default
---

<a href="/billets">{{ site.theme_config.back_home_text }}</a>

<h1>Par catégorie</h1>
{% for category in site.categories %}
<a href="/categories/{{ category.name }}">{{ category.name }}</a>
{% endfor %}
<br />
… <a href="/billets">voir tous les billets</a>

<h1>Tous les billets {{ page.name }}</h1>

<ul>
  {% for post in site.posts %} {% if post.categories contains page.name %}
  <li>
    {{ post.date | date: site.theme_config.date_format }} -
    <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
  </li>
  {% endif %} {% endfor %}
</ul>
